{
    "thumb_dir" : "/tmp",
    "upload_base" : "/tmp/pics",
    "sam" : {
        "pw" : "foo",
        "dirs" : [ "/tmp/pics/*", "/some/dir/someplace" ]
      },
    "joe" : {
        "pw" : "foo",
        "dirs" : [ "/some/dir/*" ]
      }

}

