{
    "thumb_dir" : "/tmp",
    "sam" : {
        "pw" : "foo",
        "dirs" : [ "/some/dir/someplace" ]
      },
    "joe" : {
        "pw" : "foo",
        "dir_file" : "<%= app->home =%>/all.txt"
      }

}

